.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 3rem;
}

.course-card {
    background: white;
    padding: 3rem;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.course-card h3 {
    font-family: var(--font-heading);
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-size: 2rem;
}

.course-card .btn-cta {
    align-self: flex-start;
    margin-top: 1.5rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
}

.course-card .btn-cta:hover {
    background-color: #ffca5c;
    color: black;
}

.text-intro {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #555;
}